# Strings

    A string is a sequence of characters.

    Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

    This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

    In Python, string is a sequence of Unicode character.

For more details about unicode 

https://docs.python.org/3.3/howto/unicode.html

# How to create a string?

Strings can be created by enclosing characters inside a single quote or double quotes. 

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [1]:
myString = 'Hello'

print(myString)


myString = "Hello"
print(myString)


myString = '''Hello'''
print(myString)

Hello
Hello
Hello

# How to access characters in a string?

We can access individual characters using indexing and a range of characters using slicing.

Index starts from 0. 

Trying to access a character out of index range will raise an IndexError. 

The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

In [2]:
myString = "Hello"

#print first Character
print(myString[0])

#print last character using negative indexing
print(myString[-1])

#slicing 2nd to 5th character
print(myString[2:5])

H
o
llo

If we try to access index out of the range or use decimal number, we will get errors.

# How to change or delete a string ?

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned. 

We can simply reassign different strings to the same name.

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the keyword       del.

In [0]:
del myString # delete complete string

# String Operations

# Concatenation

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [3]:
s1 = "Hello "
s2 = "Satish"

#concatenation of 2 strings
print(s1 + s2)

#repeat string n times
print(s1 * 3)

Hello Satish
Hello Hello Hello

# Iterating Through String

In [4]:
count = 0
for l in "Hello World":
    if l == 'o':
        count += 1
print(count, ' letters found')

2  letters found

# String Membership Test

In [5]:
print('l' in 'Hello World') #in operator to test membership

True

In [6]:
print('or' in 'Hello World')

True

# String Methods

    Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace() etc

In [7]:
"Hello".lower()

'hello'

In [8]:
"Hello".upper()

'HELLO'

In [9]:
"This will split all words in a list".split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [10]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [11]:
"Good Morning".find("Mo")

5

In [12]:
s1 = "Bad morning"

s2 = s1.replace("Bad", "Good")

print(s1)
print(s2)

Bad morning
Good morning

# Python Program to Check where a String is Palindrome or not ?

In [13]:
myStr = "Madam"

#convert entire string to either lower or upper
myStr = myStr.lower()

#reverse string
revStr = reversed(myStr)


#check if the string is equal to its reverse
if list(myStr) == list(revStr):
    print("Given String is palindrome")
else:
    print("Given String is not palindrome")

Given String is palindrome

# Python Program to Sort Words in Alphabetic Order?

In [14]:
myStr = "python Program to Sort words in Alphabetic Order"

#breakdown the string into list of words
words = myStr.split()

#sort the list
words.sort()

#print Sorted words are
for word in words:
    print(word)

Alphabetic
Order
Program
Sort
in
python
to
words

# FUNCTION BASIC EXAMPLE:

In [15]:
def add_two(num1,num2):
    return num1+num2
a=int(input("enter first no:"))
b=int(input("enter second no:"))
total = add_two(a,b)  # here pass two no in the function
print(total)

enter first no:5
enter second no:7
12

In [16]:
firstname=input("type first name")
lastname=input("type last name")
print(add_two(firstname,lastname))  #here pass two string in the function

type first namesajib
type last namehalder
sajibhalder

i.e. Dynamic

In [18]:
def lastcharacter(name):
    return name[-1]
print(lastcharacter("sajib halder"))

r

In [19]:
def oddeven(num):    # num is called parameter
    if num%2==0:
        return "even"
    else:
        return "odd"
print(oddeven(10))    # 10 is called argument

even

In [24]:
# in short
def oddeven(num):
    if num%2==0:
        return "even"
    return "odd"  # no need of else
print(oddeven(10))

even

In [25]:
# no parameter passing in the function:
def song():
    return "happy birthday song"
print(song())

happy birthday song

In [26]:
# define a function which takes two no. as a input & return greater of two no.
def greater(a,b):
    if a>b:
        return a
    else:
        return b
num1=int(input("enter first no"))
num2=int(input("enter second no"))
bigger=greater(num1,num2)
print(f"{bigger} is greater")

enter first no5
enter second no3
5 is greater

In [27]:
# function inside function:
def greatest(a,b,c):
    bigger=greater(a,b)
    return greater(bigger,c)
print(greatest(10,20,30))

30

In [28]:
# in one line
def greatest(a,b,c):
    return greater(greater(a,b),c)
print(greatest(10,20,30))

30

In [31]:
# define ispalindrome function that take one word in string as input & return true if it is palindrome else return false
# ex: MADAM,NAMAN
def ispalindrome(word):
    reversedword=word[::-1]
    if word==reversedword:
        return True
    else:
        return False
print(ispalindrome("NAMAN"))

True

In [32]:
# in shortcut:
def ispalindrome(word):
    if word == word[::-1]:
        return True
    return False
print(ispalindrome("NAMAN"))

True

In [33]:
# Fibanacci series program: 0 1 1 2 3 5 8 13 21 34
def fibonacci(n):
    a=0
    b=1
    if n==1:
        print(a)
    elif n==2:
        print(a,b)
    else:
        print(a,b,end=" ")
        for i in range(n-2):
            c=a+b
            a=b
            b=c
            print(b,end=" ")
fibonacci(10)

0 1 1 2 3 5 8 13 21 34